<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
  <title>Examen</title>
  <h:outputStylesheet library="bootstrap" name = "bootstrap.min.css"></h:outputStylesheet>
</head>

<body>
	<div class="col-md-6">
	<!-- fer -->
	</div>
	<div class="col-md-6">
	<!-- fer -->
	</div>
	<center>
	<table WIDTH="50%">
		<tr>
			<td>
				<h:form>
					<h:commandLink value="Ir a la página de contactos" action="#{acercaManagedBean.Contactos()}"></h:commandLink>
				</h:form>
			</td>
		<td>
			<h:form>
				<h:commandLink value="Ir a la página acerca de" action="#{contactosManagedBean.Acerca()}"></h:commandLink>
			</h:form>
		</td>
		</tr>
	</table>
	<h1>ACERCA DE</h1>
	<br />
	<br />
	<h:form>
		<h:dataTable var="imagen" value="#{acercaManagedBean.imagenes}" border="1">
			<h:column>
				<f:facet name="header">Imagen</f:facet>
				<h:graphicImage library="image" width="150" name="#{imagen.imagen}"></h:graphicImage>
			</h:column>
		</h:dataTable>
	</h:form>
	</center>
</body>

</html>
