<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
  <title>Examen</title>
</head>

<body>
	<center>
	<table WIDTH="50%">
		<tr>
			<td>
				<h:form>
					<h:commandLink value="Ir a la página de contactos" action="#{acercaManagedBean.Contactos()}"></h:commandLink>
				</h:form>
			</td>
		<td>
			<h:form>
				<h:commandLink value="Ir a la página acerca de" action="#{contactosManagedBean.Acerca()}"></h:commandLink>
			</h:form>
		</td>
		</tr>
	</table>
	<h1>CONTACTOS</h1>
	
	<h:form  prependId="false">
		<table>
			<tr>
				<td>Email:</td>
				<td>
					<h:inputText value="#{contactosManagedBean.email}"
						id="email">
					</h:inputText>
				</td>
				<td><h:message for="email"></h:message></td>
			</tr>
			<tr>
				<td>Mensaje:</td>
				<td>
					<h:inputText value="#{contactosManagedBean.mensaje}"
						id="mensaje">
					</h:inputText>
				</td>
				<td><h:message for="mensaje"></h:message></td>
			</tr>
			<tr>
			<td></td>
			<td><h:commandButton value="Enviar" action="#{contactosManagedBean.Enviar()}"></h:commandButton></td>
			</tr>
		</table>
	</h:form>
	</center>
</body>

</html>
