<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
  <title>Examen</title>
  <h:outputStylesheet library="css" name = "resources/bootstrap/bootstrap.css"></h:outputStylesheet>
</head>

<body>	
<center>
	<h1>Bienvenido a Examen</h1>
	<h:form  prependId="false">
		<table>
			<tr>
				<td>Usuario:</td>
				<td>
					<h:inputText value="#{autenticacionManagedBean.usuario.usuario}"
						required="true"
						requiredMessage="Por favor, instroduzca un nombre de usuario"
						id="txtusuario">
						<f:validateLength minimum="3" maximum="9"></f:validateLength>
					</h:inputText>
				</td>
				<td><h:message for="txtusuario"></h:message></td>
			</tr>
			<tr>
				<td>Contraseña:</td>
				<td>
					<h:inputSecret value="#{autenticacionManagedBean.usuario.password}"
						required="true"
						requiredMessage="Por favor, instroduzca una contraseña"
						id="txtpassword">
					</h:inputSecret>
				</td>
				<td><h:message for="txtpassword"></h:message></td>
			</tr>
			<tr>
			<td></td>
			<td><h:commandButton value="Login Examen" action="#{autenticacionManagedBean.Verifica()}"></h:commandButton></td>
			</tr>
		</table>
	</h:form>
	</center>
</body>

</html>
